### Recommendations Rank & Knowledge Based:

In [391]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tests as t

%matplotlib inline

# Read in the datasets
movies = pd.read_csv(r'E:\ITI\phase3\recomder system\day1\Rank-Based Knowledge-Based\movies_clean.csv')
reviews = pd.read_csv(r'E:\ITI\phase3\recomder system\day1\Rank-Based Knowledge-Based\reviews_clean.csv')
del movies['Unnamed: 0']
del reviews['Unnamed: 0']

In [301]:
movies.head()
#len(movies['movie_id'])

,movie_id,movie,genre,date,1800's,1900's,2000's,History,News,Horror,...,Fantasy,Romance,Game-Show,Action,Documentary,Animation,Comedy,Short,Western,Thriller
0,8,Edison Kinetoscopic Record of a Sneeze (1894),Documentary|Short,1894,1,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
1,10,La sortie des usines Lumière (1895),Documentary|Short,1895,1,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
2,12,The Arrival of a Train (1896),Documentary|Short,1896,1,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
3,25,The Oxford and Cambridge University Boat Race ...,NaN,1895,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,91,Le manoir du diable (1896),Short|Horror,1896,1,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0

In [3]:
reviews.head()

,user_id,movie_id,rating,timestamp,date,month_1,month_2,month_3,month_4,month_5,...,month_9,month_10,month_11,month_12,year_2013,year_2014,year_2015,year_2016,year_2017,year_2018
0,1,68646,10,1381620027,2013-10-12 23:20:27,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0
1,1,113277,10,1379466669,2013-09-18 01:11:09,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,2,422720,8,1412178746,2014-10-01 15:52:26,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
3,2,454876,8,1394818630,2014-03-14 17:37:10,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,2,790636,7,1389963947,2014-01-17 13:05:47,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [263]:
#reviews.query("user_id == 1")['movie_id']

In [5]:
"""
reviews=reviews.query("user_id ==1").rating
reviews.head()"""

'\nreviews=reviews.query("user_id ==1").rating\nreviews.head()'

In [265]:
"""df=reviews[reviews['user_id']==1]
df['rating'].sum()/len(df)
#movies=df['movie_id']"""

"df=reviews[reviews['user_id']==1]\ndf['rating'].sum()/len(df)\n#movies=df['movie_id']"

In [264]:
"""id='1454468'
r=reviews.movie_id.value_counts()
r.head(20)"""

"id='1454468'\nr=reviews.movie_id.value_counts()\nr.head(20)"

In [266]:
"""reviews.movie_id.value_counts().index[:10]"""

'reviews.movie_id.value_counts().index[:10]'

In [267]:
"""movies.query("movie_id == 1454468")['movie']"""

'movies.query("movie_id == 1454468")[\'movie\']'

In [268]:
#r=reviews.query("movie_id == 1454468").rating.value_counts()
#r

In [270]:
#rating 

#r.index
r=reviews.query("movie_id == 1454468").rating.value_counts()
total_rating=r.values*r.index
#r.values.sum()
sum(total_rating)/r.values.sum()

8.241333773522614

In [271]:
#reviews.query("rating == 10")['movie_id'].value_counts()

In [272]:
#reviews.query("movie_id == 816692")['rating']

In [273]:
#np.average(reviews.query("movie_id == 1454468").rating.value_counts().index)

In [274]:
r=reviews.groupby("movie_id").agg({'date':["max"]})
#r

In [275]:
#r.values

In [16]:
reviews.shape

(712337, 23)

#### 1. How To Find The Most Popular Movies

For this notebook, we have a single task.  The task is that no matter the user, we need to provide a list of the recommendations based on simply the most popular items.

For this task, we will consider what is "most popular" based on the following criteria:

* A movie with the highest average rating is considered best
* With ties, movies that have more ratings are better
* A movie must have a minimum of 5 ratings to be considered among the best movies
* If movies are tied in their average rating and number of ratings, the ranking is determined by the movie that is the most recent rating

With these criteria, the goal for this notebook is to take a **user_id** and provide back the **n_top** recommendations.  Use the function below as the scaffolding that will be used for all the future recommendations as well.

31245

In [310]:
r=reviews.query("movie_id == 1454468").rating.value_counts()
total_rating=r.values*r.index
sum(total_rating)/r.values.sum()

8.241333773522614

In [302]:
rating=reviews['rating']
id=movies['movie_id']
print(len(rating))
print(len(id))

712337
31245

# calculate Average for each movie

In [315]:
##r=reviews.query("movie_id == 1454468").rating.value_counts()
#total_rating=r.values*r.index
#sum(total_rating)/r.values.sum()

"""avg_rating=[]
for i in range(len(id)): 
    q="movie_id =="+str(id[i])
    r=reviews.query(q).rating.value_counts()
    total_rating=r.values*r.index
    
    rate=sum(total_rating)/r.values.sum()
    
    avg_rating.append(rate)
len(avg_rating)"""
#31245

31245

In [316]:
df2=pd.DataFrame({'ID':id, 'AVG_rating': avg_rating})
df2.head(10)

    ID  AVG_rating
0    8    5.000000
1   10   10.000000
2   12   10.000000
3   25    8.000000
4   91    6.000000
5  417    8.368421
6  439    6.750000
7  443    8.000000
8  628    4.500000
9  833    3.000000

In [317]:
len(df2)
#31245

31245

In [53]:
df2 = df2.sort_values(by=['AVG_rating'], ascending=False)
df2.head(5)

            ID  AVG_rating
21289    50330        10.0
29857  3040502        10.0
12125  2328819        10.0
18699  1727258        10.0
21295  5192124        10.0

In [312]:
#df2.to_csv(r'E:\ITI\phase3\recomder system\day1\Rank-Based Knowledge-Based\AVG_rating1.csv')
df2=pd.read_csv("E:\\ITI\\phase3\\recomder system\\day1\\Rank-Based Knowledge-Based\\AVG_rating1.csv")
len(df2)
#31245

31245

In [311]:
df=df2.query("AVG_rating > 5 and AVG_rating < 10 ")[['ID','AVG_rating']]
df.head()
len(df)
#23796

23796

In [291]:
df = df.sort_values(by=['AVG_rating'], ascending=False)
df

            ID  AVG_rating
1709   5512872    9.985836
1710   4148400    9.882353
1711    423176    9.800000
1712   1629443    9.800000
1713   6798422    9.800000
...        ...         ...
25500  2802136    5.051282
25501  4694544    5.041667
25502  1780762    5.040000
25503  1929308    5.037037
25504  3534602    5.028571

[23796 rows x 2 columns]

In [292]:
id=list(df['ID'].values)
rating=list(df['AVG_rating'].values)

In [293]:
"""ll=[]
for i in range(0,10):
    q1="movie_id =="+str(id[i])
    d1=list(reviews.query(q1)['date'])
    d1.sort(reverse=True)
    
    q2="movie_id =="+str(id[i+1])
    d2=list(reviews.query(q2)['date'])
    d2.sort(reverse=True)

    if rating[i]>rating[i+1]:
        ll.append(id[i])
    elif rating[i]==rating[i+1]:
        if d1[0]>d2[0]:
            ll.append(id[i])
        else:
            l.append(id[i+1])
ll"""

'll=[]\nfor i in range(0,10):\n    q1="movie_id =="+str(id[i])\n    d1=list(reviews.query(q1)[\'date\'])\n    d1.sort(reverse=True)\n    \n    q2="movie_id =="+str(id[i+1])\n    d2=list(reviews.query(q2)[\'date\'])\n    d2.sort(reverse=True)\n\n    if rating[i]>rating[i+1]:\n        ll.append(id[i])\n    elif rating[i]==rating[i+1]:\n        if d1[0]>d2[0]:\n            ll.append(id[i])\n        else:\n            l.append(id[i+1])\nll'

In [294]:
"""movie=[]
for i in range(0,len(ll)):
    q="movie_id =="+str(ll[i])
    name=movies.query(q)['movie']
    movie.append(name)
    
movie"""

'movie=[]\nfor i in range(0,len(ll)):\n    q="movie_id =="+str(ll[i])\n    name=movies.query(q)[\'movie\']\n    movie.append(name)\n    \nmovie'

In [295]:
def popular_recommendations(user_id, n_top):
    
    #the movie that the user see it
    q1="user_id =="+str(user_id)
    user_moive=list(reviews.query(q1)['movie_id'].values)
    l1=[]

    for i in range((n_top+len(user_moive))):
  
   # while(c<(len(user_moive)+n_top)):
        
        q1="movie_id =="+str(id[i])
        d1=list(reviews.query(q1)['date'])
        d1.sort(reverse=True)
        q2="movie_id =="+str(id[i+1])
        d2=list(reviews.query(q2)['date'])
        d2.sort(reverse=True)
############################################################################
        if rating[i]>rating[i+1]:
            l1.append(id[i])
    
        elif rating[i]==rating[i+1]:
            if d1[0]>d2[0]:
                l1.append(id[i])
             
            else:
                l1.append(id[i+1])

        
        l2=[]
        for i in range(0,len(l1)):
            if l1[i] not in user_moive:
                l2.append(l1[i]) 
        
        top_movies=[]
        for i in range(len(l2)):
            q="movie_id =="+str(l2[i])
            name=movies.query(q)['movie']
            top_movies.append(name)
        
    
    return top_movies[0:n_top]  # a list of the n_top movies as recommended

In [296]:
l=popular_recommendations(1, 5)
print(len(l))
l

5

[29679    Be Somebody (2016)
 Name: movie, dtype: object,
 27609    Birlesen Gonuller (2014)
 Name: movie, dtype: object,
 13201    Shijie (2004)
 Name: movie, dtype: object,
 30864    Agnelli (2017)
 Name: movie, dtype: object,
 30864    Agnelli (2017)
 Name: movie, dtype: object]

Usint the three criteria above, you should be able to put together the above function.  If you feel confident in your solution, check the results of your function against our solution. On the next page, you can see a walkthrough and you can of course get the solution by looking at the solution notebook available in this workspace.

In [257]:
# Put your solutions for each of the cases here

# Top 20 movies recommended for id 1

recs_20_for_1 = popular_recommendations(1, 20)
#print(len(recs_20_for_1))
# Top 5 movies recommended for id 53968
recs_5_for_53968 = popular_recommendations(53968, 5)
#print(len(recs_5_for_53968))
# Top 100 movies recommended for id 70000
recs_100_for_70000 = popular_recommendations(70000, 100)
#print(len(recs_100_for_70000))
# Top 35 movies recommended for id 43
recs_35_for_43 = popular_recommendations(43, 35)
#print(len(recs_35_for_43))

20
5
5
35

In [262]:
### You Should Not Need To Modify Anything In This Cell
ranked_movies = t.create_ranked_df(movies, reviews) # only run this once - it is not fast

# check 1 
assert t.popular_recommendations('1', 20, ranked_movies) == recs_20_for_1,  "The first check failed..."
# check 2
assert t.popular_recommendations('53968', 5, ranked_movies) == recs_5_for_53968,  "The second check failed..."
# check 3
assert t.popular_recommendations('70000', 100, ranked_movies) == recs_100_for_70000,  "The third check failed..."
# check 4
assert t.popular_recommendations('43', 35, ranked_movies) == recs_35_for_43,  "The fourth check failed..."

print("If you got here, looks like you are good to go!  Nice job!")

AttributeError: module 'tests' has no attribute 'create_ranked_df'

**Notice:** This wasn't the only way we could have determined the "top rated" movies.  You can imagine that in keeping track of trending news or trending social events, you would likely want to create a time window from the current time, and then pull the articles in the most recent time frame.  There are always going to be some subjective decisions to be made.  

If you find that no one is paying any attention to your most popular recommendations, then it might be time to find a new way to recommend, which is what the next parts of the lesson should prepare us to do!

### Part II: Adding Filters

Now that you have created a function to give back the **n_top** movies, let's make it a bit more robust.  Add arguments that will act as filters for the movie **year** and **genre**.  

Use the cells below to adjust your existing function to allow for **year** and **genre** arguments as **lists** of **strings**.  Then your ending results are filtered to only movies within the lists of provided years and genres (as `or` conditions).  If no list is provided, there should be no filter applied.

You can adjust other necessary inputs as necessary to retrieve the final results you are looking for!

Try writing a few tests against the test function in our test function.  Below returns the top 20 movies for user 1 based on the specified year and genre filters.  Does yours return the same? 

```
t.popular_recs_filtered('1', 20, ranked_movies, years=['2015', '2016', '2017', '2018'], genres=['History', 'Comedy'])
```

In [318]:
movies.head()

,movie_id,movie,genre,date,1800's,1900's,2000's,History,News,Horror,...,Fantasy,Romance,Game-Show,Action,Documentary,Animation,Comedy,Short,Western,Thriller
0,8,Edison Kinetoscopic Record of a Sneeze (1894),Documentary|Short,1894,1,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
1,10,La sortie des usines Lumière (1895),Documentary|Short,1895,1,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
2,12,The Arrival of a Train (1896),Documentary|Short,1896,1,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
3,25,The Oxford and Cambridge University Boat Race ...,NaN,1895,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,91,Le manoir du diable (1896),Short|Horror,1896,1,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0

In [329]:
q="genre in "+ str(['History', 'Comedy'])+ "and date in"+ str(['2015', '2016', '2017', '2018'])
m=movies.query(q)['movie_id']
len(m.values)

505

In [392]:
def popular_recs_filtered(user_id,n_top,years,genres):
    q="genre in "+ str(genres)+ "and date in"+ str(years)
    movie=movies.query(q)['movie_id']
    avg_rating=[]
    id=list(movie.values)
    
    for i in range(len(id)): 
        q="movie_id =="+str(id[i])
        r=reviews.query(q).rating.value_counts()
        total_rating=r.values*r.index
        rate=sum(total_rating)/r.values.sum()
        avg_rating.append(rate)


    df=pd.DataFrame({'ID':id, 'AVG_rating': avg_rating})
    df=df.sort_values(by=['AVG_rating'], ascending=False)
    df=df.query("AVG_rating > 5 and AVG_rating < 10 ")[['ID','AVG_rating']]
    rating=list(df['AVG_rating'])
    
    #the movie that the user see it
    q1="user_id =="+str(user_id)
    user_moive=list(reviews.query(q1)['movie_id'].values)
    l1=[]

    for i in range((n_top+len(user_moive))):
  
   # while(c<(len(user_moive)+n_top)):
        
        q1="movie_id =="+str(id[i])
        d1=list(reviews.query(q1)['date'])
        d1.sort(reverse=True)
        q2="movie_id =="+str(id[i+1])
        d2=list(reviews.query(q2)['date'])
        d2.sort(reverse=True)
############################################################################
        if rating[i]>rating[i+1]:
            l1.append(id[i])
    
        elif rating[i]==rating[i+1]:
            if d1[0]>d2[0]:
                l1.append(id[i])
             
            else:
                l1.append(id[i+1])

        
        l2=[]
        
        for i in range(0,len(l1)):
            if l1[i] not in user_moive and l1[i]  in id:
                l2.append(l1[i]) 
        
        top_movies=[]
        for i in range(len(l2)):
            q="movie_id =="+str(l2[i])
            name=movies.query(q)['movie']
            top_movies.append(name)
        
    
    return top_movies[0:n_top]  # a list of the n_top movies as recommended

In [394]:
top=popular_recs_filtered('1', 20, years=['2015', '2016', '2017', '2018'], genres=['History', 'Comedy'])
print(len(top))
print(top)

20
[15053    The Wedding Ringer (2015)
Name: movie, dtype: object, 16839    The Last Film Festival (2016)
Name: movie, dtype: object, 16839    The Last Film Festival (2016)
Name: movie, dtype: object, 18117    Daddy's Home (2015)
Name: movie, dtype: object, 18117    Daddy's Home (2015)
Name: movie, dtype: object, 18582    Zoolander 2 (2016)
Name: movie, dtype: object, 19001    Entourage (2015)
Name: movie, dtype: object, 19001    Entourage (2015)
Name: movie, dtype: object, 19234    Office Christmas Party (2016)
Name: movie, dtype: object, 19777    Bad Santa 2 (2016)
Name: movie, dtype: object, 19777    Bad Santa 2 (2016)
Name: movie, dtype: object, 20157    Dirty Grandpa (2016)
Name: movie, dtype: object, 20157    Dirty Grandpa (2016)
Name: movie, dtype: object, 20556    Who Gets the Dog? (2016)
Name: movie, dtype: object, 20557    Drunk Wedding (2015)
Name: movie, dtype: object, 20622    Father Figures (2017)
Name: movie, dtype: object, 20629    The Comedian (2016)
Name: movie, dtype: object, 21347    Absolutely Fabulous: The Movie (2016)
Name: movie, dtype: object, 21625    Good Kids (2016)
Name: movie, dtype: object, 21625    Good Kids (2016)
Name: movie, dtype: object]

In [395]:
top=popular_recs_filtered('2', 20, years=['2015', '2016', '2017', '2018'], genres=['History', 'Comedy'])
print(len(top))
print(top)

20
[15053    The Wedding Ringer (2015)
Name: movie, dtype: object, 16839    The Last Film Festival (2016)
Name: movie, dtype: object, 16839    The Last Film Festival (2016)
Name: movie, dtype: object, 18117    Daddy's Home (2015)
Name: movie, dtype: object, 18117    Daddy's Home (2015)
Name: movie, dtype: object, 18582    Zoolander 2 (2016)
Name: movie, dtype: object, 19001    Entourage (2015)
Name: movie, dtype: object, 19001    Entourage (2015)
Name: movie, dtype: object, 19234    Office Christmas Party (2016)
Name: movie, dtype: object, 19777    Bad Santa 2 (2016)
Name: movie, dtype: object, 19777    Bad Santa 2 (2016)
Name: movie, dtype: object, 20157    Dirty Grandpa (2016)
Name: movie, dtype: object, 20157    Dirty Grandpa (2016)
Name: movie, dtype: object, 20556    Who Gets the Dog? (2016)
Name: movie, dtype: object, 20557    Drunk Wedding (2015)
Name: movie, dtype: object, 20622    Father Figures (2017)
Name: movie, dtype: object, 20629    The Comedian (2016)
Name: movie, dtype: object, 21347    Absolutely Fabulous: The Movie (2016)
Name: movie, dtype: object, 21625    Good Kids (2016)
Name: movie, dtype: object, 21625    Good Kids (2016)
Name: movie, dtype: object]

In [397]:
top=popular_recs_filtered('10', 20, years=['2015', '2016', '2017', '2018'], genres=['History', 'Comedy','Short|Horror'])
print(len(top))
print(top)

20
[15053    The Wedding Ringer (2015)
Name: movie, dtype: object, 16839    The Last Film Festival (2016)
Name: movie, dtype: object, 16839    The Last Film Festival (2016)
Name: movie, dtype: object, 18117    Daddy's Home (2015)
Name: movie, dtype: object, 18117    Daddy's Home (2015)
Name: movie, dtype: object, 18582    Zoolander 2 (2016)
Name: movie, dtype: object, 19001    Entourage (2015)
Name: movie, dtype: object, 19001    Entourage (2015)
Name: movie, dtype: object, 19234    Office Christmas Party (2016)
Name: movie, dtype: object, 19777    Bad Santa 2 (2016)
Name: movie, dtype: object, 19777    Bad Santa 2 (2016)
Name: movie, dtype: object, 20157    Dirty Grandpa (2016)
Name: movie, dtype: object, 20157    Dirty Grandpa (2016)
Name: movie, dtype: object, 20556    Who Gets the Dog? (2016)
Name: movie, dtype: object, 20557    Drunk Wedding (2015)
Name: movie, dtype: object, 20622    Father Figures (2017)
Name: movie, dtype: object, 20629    The Comedian (2016)
Name: movie, dtype: object, 21347    Absolutely Fabulous: The Movie (2016)
Name: movie, dtype: object, 21625    Good Kids (2016)
Name: movie, dtype: object, 21625    Good Kids (2016)
Name: movie, dtype: object]

In [364]:
"""def popular_recs_filtered(user_id,n_top,years,genres):
    q="genre in "+ str(genres)+ "and date in"+ str(years)
    movie=movies.query(q)['movie_id']
    avg_rating=[]
    id=list(movie.values)
    
    for i in range(len(id)): 
        q="movie_id =="+str(id[i])
        r=reviews.query(q).rating.value_counts()
        total_rating=r.values*r.index
        rate=sum(total_rating)/r.values.sum()
        avg_rating.append(rate)


#####################################################################
    df=pd.DataFrame({'ID':id, 'AVG_rating': avg_rating})
    df=df.sort_values(by=['AVG_rating'], ascending=False)
    df=df.query("AVG_rating > 5 and AVG_rating < 10 ")[['ID','AVG_rating']]
    rating=list(df['AVG_rating'])
################################################################################

    l1=[]
    for i in range((n_top+len(user_moive))):
  
   # while(c<(len(user_moive)+n_top)):
        
        q1="movie_id =="+str(id[i])
        d1=list(reviews.query(q1)['date'])
        d1.sort(reverse=True)
        q2="movie_id =="+str(id[i+1])
        d2=list(reviews.query(q2)['date'])
        d2.sort(reverse=True)
    if rating[i]>rating[i+1]:
            l1.append(id[i])
    
    elif rating[i]==rating[i+1]:
        if d1[0]>d2[0]:
            l1.append(id[i])
             
        else:
            l1.append(id[i+1])

        
    l2=[]
    for i in range(0,len(l1)):
        if l1[i] not in user_moive:
            l2.append(l1[i]) 
        
    top_movies=[]
    for i in range(len(l2)):
        q="movie_id =="+str(l2[i])
        name=movies.query(q)['movie']
        top_movies.append(name)
    
    return top_movies"""

In [365]:
popular_recs_filtered('1', 20, years=['2015', '2016', '2017', '2018'], genres=['History', 'Comedy'])

[22228    Love the Coopers (2015)
 Name: movie, dtype: object]

In [ ]:
import numpy as np

In [ ]:
v1=np.array([1,2,3])
v2=np.array([4,5,6])
v3=np.array([7,8,9])

In [ ]:
v1.dot(v2)/ (np.linalg.norm(v1) * np.linalg.norm(v2))

In [ ]:
v1.dot(v3)/ (np.linalg.norm(v1) * np.linalg.norm(v3))